body
{
  color: rgb(44, 44, 44);
  background: #7bffed;
  font-family: 'Shantell Sans', cursive;
}


span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name 
{
  color: rgb(0, 102, 255);
  font-family: 'Shantell Sans', cursive;
  font-size: 28px;
}
.gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
    font-size: 23px;
    border-radius: 13px;
    letter-spacing: 5px;
    font-weight: bold;
}

label
{
   font-size: 15px;
   color:cyan;
   border-radius: 10px;
   background-color: cornsilk;
   padding:6px;
}